.vscode/launch.json
logBugOnTestFailureTask/.taskkey
logBugOnTestFailureTask/package-lock.json
*.vsix
.taskkey
logBugOnTestFailureTask/.taskkey
*.map
logBugOnTestFailureTask/.taskkey
*.js
logBugOnTestFailureTask/node_modules